<%- include ('../partials/Message') %>
<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link rel="icon" href="./icon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.css" />
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
</head>
<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Info</a></li>
                    <li>
                        <ul class="uk-navbar-nav">
                            <li><a href="#">Where Can I Vote?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="#">EasyVote</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Settings</a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="#">Sign Out</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <center>
        <div class="uk-container" style="background-color:white; height:600px; width:600px; margin-top:200px;">
            <h1 style="font-family: Consolas, monaco, monospace; margin-top:20px;">Settings</h1>
            <h3 style="font-family: Consolas, monaco, monospace; margin-top:20px;"> Change Your Address </h3>
            <form action="" method="post" style="margin-top:50px;">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="icon: home"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" name="address" id="address" placeholder="Address Line 1" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="icon: home"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" name="address" id="address" placeholder="Address Line 2 (Optional)">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="icon: world"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" name="city" id="city" placeholder="City" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: location"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" name="state" id="state" placeholder="State" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        <input class="uk-input" type="text" aria-label="Not clickable icon" name="zip" id="zip" placeholder="ZIP Code" required>
                    </div>
                </div>

            </form>
            <button type="submit" class="uk-button uk-button-default uk-button-large" style="margin-top:30px;">Update</button>
        </div>
    </center>

</body>
</html>