<!DOCTYPE html>
<html>
<head>
    <title>Info</title>
    <link rel="icon" href="https://i.ibb.co/qDZGp0C/united-states.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>

    <style>
        body {
            margin: 0;
            background-image: url('https://i.ibb.co/3Sm6ZXD/bg.webp');
            background-color: aliceblue;
            background-size: 1500px 1060px;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">

                    <li class="uk-active"><a href="/info">Info</a></li>
                    <li>
                        <ul class="uk-navbar-nav">
                            <li><a href="/wciv">Where Can I Vote?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <a class="uk-navbar-item uk-logo" href="/">EasyVote</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="/logout">Sign Out</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <center>
        <div class="uk-container" style="background-color:white; height:800px; width:800px; margin-top:100px;">
            <center>
                <h1 style="font-family: Consolas, monaco, monospace; margin-top:10px;">EasyVote</h1>
                <br /> <br />
                <p style="font-family: Consolas, monaco, monospace; font-style: italic;">
                    EasyVote helps you find the nearest polls to you.
                    Using your address, we provide the addresses of the nearest polls and their working hours.
                </p>
                <br /> <br />

                <h1 style="font-family: Consolas, monaco, monospace; margin-top:10px;">
                    Why should you exercise your right to vote?
                    <br /> <br />
                </h1>
                <p style="font-family: Consolas, monaco, monospace; font-style: italic;">
                    The Constitution established the United States as
                    a democratic republic. It is democratic because
                    the people govern themselves, and it is a republic
                    because the government’s power is derived from
                    its people.
                    This means that our government – federal, state,
                    and local – is elected by the citizens. Citizens vote
                    for their government officials and these officials
                    represent the concerns and ideas of the citizens
                    in government. For example, your Governor is
                    elected by the voters in your state. The Governor
                    is in charge of the executive branch for your
                    state.
                    Voting is one important way that we can
                    participate in our democracy. In order to vote for
                    President in a federal election, a citizen must be
                    18 or older. Besides voting for officials, we also
                    vote on issues. Voters may want to make changes
                    to their community, such as building bigger
                    schools or adding new roads. We can contact our
                    government officials when we want to support
                    or change a law. Voting in an election and
                    contacting our elected officials are two ways that
                    Americans can participate in our democracy.
                </p>
                <br /> <br />

            </center>

        </div>
    </center>

</body>
</html>
