<!DOCTYPE html>
<html>
<head>
    <title>Where Can I Vote?</title>
    <link rel="icon" href="./icon.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--UIKIT CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.12/dist/js/uikit-icons.min.js"></script>

    <style>
        body {
            margin: 0;
            background-image: url('https://i.ibb.co/3Sm6ZXD/bg.webp');
            background-color: aliceblue;
            background-size: 1500px 1060px;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li><a href="/info">Info</a></li>
                    <li>
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/wciv">Where Can I Vote?</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="/">EasyVote</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li><a href="/logout">Sign Out</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <center>
        <div class="uk-container" style="background-color:white; height:600px; width:600px; margin-top:200px;">
            <h3 style="font-family: Consolas, monaco, monospace; margin-top:10px;">Voting Polls Near You</h3>
            <table class="uk-table" style="margin-left:45px;">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                <% let data = results.data.elections; %>
                <% data.forEach((element) => { %>
                    <tr>
                        <th><%= element.name %></th>
                        <th><%= element.electionDay %></th>
                    </tr>
                <% }); %>
                <!--TODO: add JavaScript to fill this table-->

            </table>
        </div>
    </center>

</body>
</html>
